<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="./week-highlight.html">

<dom-module id="current-week">
  <template>
    <style>
      paper-card {
        margin-top: 3vh;
      }
    </style>
    <div>
      <week-highlight week="{{week}}"></week-highlight>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'current-week',
    properties: {
      week: {
        type: String,
        reflectToAttribute: true
      }
    }
  });
</script>
