<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./time-bar.html">
<link rel="import" href="./month-weeks.html">

<link rel="import" href="shared-styles.html">

<dom-module id="current-month">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;

        --month-paper-tabs: {
          color: white;
          background-color: var(--app-primary-color)
        }
      }
    </style>

    <time-bar></time-bar>
    <month-weeks></month-weeks>



  </template>

  <script>
    Polymer({
      is: 'current-month'
    });
  </script>
</dom-module>
