<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./current-week.html">
<script src="../bower_components/ramda/dist/ramda.js"> </script>

<dom-module id="month-weeks">
  <template>
    <style>
      paper-tabs {
      @apply(--month-paper-tabs);
      }
      .card {
        margin-top: 25vh;
      }
    </style>
    <div class="card">
      <paper-tabs selected ="{{selected}}">
        <template is="dom-repeat" items="{{monthWeeks}}" as='week'>
          <paper-tab>{{week}}</paper-tab>
        </template>
      </paper-tabs>

      <iron-pages selected="{{selected}}">
        <template is="dom-repeat" items="{{monthWeeks}}"  as='week'>
          <paper-tab>
            <current-week week={{week}}></current-week>
          </paper-tab>
        </template>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'month-weeks',
    ready: function () {
      var currentDate = moment(),
        start         = moment(currentDate).startOf('month').week(),
        end           = moment(currentDate).endOf('month').week();

      this.monthWeeks = R.map(function (weekNumber) {
        return 'W'.concat(weekNumber);
      }, R.range(start, end + 1));
      this.selected = 0;
    }
  });
</script>
