<link rel="import" href="../bower_components/polymer/polymer.html">
<script src="../bower_components\moment\moment.js"></script>

<dom-module id="time-bar">
  <template>
    <style>
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
    </style>
    <app-header-layout fullbleed has-scrolling-region>
      <app-header condenses reveals effects="waterfall">
        <app-toolbar>
          <div main-title>[[currentMonth]], [[currentYear]]. W[[currentMonthFirstWeek]] - W[[currentMonthLastWeek]]</div>
        </app-toolbar>
      </app-header>
    </app-header-layout>
  </template>
</dom-module>

<script>
Polymer({
  is: 'time-bar',
  ready: function () {
    var currentDate = moment(),
      start         = moment(currentDate).startOf('month'),
      end           = moment(currentDate).endOf('month');

    this.currentMonth          = currentDate.format('MMMM');
    this.currentYear           = currentDate.year();
    this.currentMonthFirstWeek = start.week();
    this.currentMonthLastWeek  = end.week();
  }
});
</script>
